In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
!pip install unidecode

Collecting unidecode
  Downloading https://files.pythonhosted.org/packages/9e/25/723487ca2a52ebcee88a34d7d1f5a4b80b793f179ee0f62d5371938dfa01/Unidecode-1.2.0-py2.py3-none-any.whl (241kB)
     |████████████████████████████████| 245kB 4.3MB/s
Installing collected packages: unidecode
Successfully installed unidecode-1.2.0

In [14]:
import os
import pandas as pd
import numpy as np
from glob import glob
import unidecode

In [17]:
root_images =  'drive/Shareddrives/MO286 - Visualização de Dados/data_images/CASOS_CHC_FULL/*'	
root_csv =  'drive/Shareddrives/MO286 - Visualização de Dados/data_csv/'

In [28]:
def to_int(string):
  try:
    return int(string)
  except:
    return string

In [31]:
dataset = pd.read_csv(root_csv+'s5.csv')

images_path = glob(root_images)

folder_names = [to_int(os.path.basename(folder_path)) for folder_path in images_path]

In [33]:
miss = np.unique(dataset.paciente_id[~dataset.paciente_id.isin(folder_names)])

print('Exames faltantes: ', *miss, sep='\n * ')

Exames faltantes:

In [51]:
img_root = 'drive/Shareddrives/MO286 - Visualização de Dados/data_images/CASOS_CHC_FULL/'

def get_img_qnt(folder):

  p = []
  s1 = []
  s2 = []
  s3 = []

  img_folders = glob(folder)

  for folder in img_folders:

    p_id = os.path.basename(folder)

    if to_int(p_id) not in dataset.paciente_id:
      continue

    p.append('p_'+p_id)

    s1.append(len(glob(folder+'/series1/*.jpeg')))
    s2.append(len(glob(folder+'/series2/*.jpeg')))
    s3.append(len(glob(folder+'/series3/*.jpeg')))

  return pd.DataFrame({'p':p, 's1':s1, 's2':s2, 's3':s3})

qnt_p = get_img_qnt(root_images)

In [55]:
qnt_p.describe()

               s1          s2          s3
count  127.000000  127.000000  127.000000
mean    98.110236  131.826772  175.023622
std     96.724714   70.368993   60.104600
min      2.000000    1.000000    1.000000
25%      2.000000   91.000000  143.000000
50%     88.000000  113.000000  161.000000
75%    124.500000  152.500000  224.500000
max    348.000000  489.000000  349.000000